header{
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr;
  background-color: black;
  text-align: center;
}
header>.lenke{
  align-self: center;
}
a{
  color: white;
  text-decoration: none;
  font-family: helvetica;
}
<style>
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px 10px;
  text-align: center;
}
.dropdown:hover .dropdown-content{
  display: block;
}
</style>

ul{
  list-style-type: none;
  text-align: center;
}

#logo>h3{
  font-size: 25px;
  margin: 10px;
}
body{
  margin:0;
  background-color: black;
  color: white;
  font-family: helvetica;
  display:grid;
}
main{
  display: grid;
  grid-template-columns: ;
  grid-gap: 5px;
}
.kol-1{
  grid-column: span 1;
}
.kol-2{
  grid-column: span 2;
}
.kol-3{
  grid-column: span 3;
}
.kol-4{
  grid-column: span 4;
}
.kol-5{
  grid-column: span 5;
}
.kol-6{
  grid-column: span 6;
}
.kol-7{
  grid-column: span 7;
}
.kol-8{
  grid-column: span 8;
}
.kol-9{
  grid-column: span 9;
}
.kol-10{
  grid-column: span 10;
}
