header{
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr;
  background-color: black;
  text-align: center;
}
header>.lenke{
  align-self: center;
}
a{
  color: white;
  text-decoration: none;
  font-family: helvetica;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color:rgba(0,0,0,0.6);
  color: white;
  text-align: center;
}
.dropdown:hover .dropdown-content{
  display: block;
}

ul{
  list-style-type: none;
  text-align: left;
  padding: 2px;
}
ul>li{
  padding: 5px;
}

#logo>h3{
  font-size: 25px;
  margin: 10px;
}
body{
  margin:0;
  background-color: black;
  color: white;
  font-family: helvetica;
  display:grid;
}
.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.grid img:hover{
  transform: scale(1.3)
}
img:active{
  transform: translateX(5px);
}
img{
  transition: 1s;
}
